/*--
    Common Css
--*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply text-sm;
  @apply font-light;
  @apply text-slate-800;
  font-family: 'Helvetica', 'Arial', sans-serif;
  @apply antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-light;
  @apply m-0;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
  @apply font-normal;
}

p {
  @apply text-lg;
}

ul {
  @apply p-0;
  @apply m-0;
  @apply list-none;
}

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

a:focus,
.btn:focus,
.btn:active:focus {
  @apply shadow-none;
  @apply outline-none;
}

a,
a:active,
a:focus,
a:active {
  @apply no-underline;
}

.section {
  @apply py-24;
  @apply px-0;
}

*[id]:before {
  content: ' ';
  @apply block;
  @apply -mt-20;
  @apply h-20;
  @apply invisible;
  @apply hidden;
}

.heading {
  @apply text-center;
  @apply text-gray-500;
  @apply pb-10;
}

.heading h2 {
  @apply text-slate-800;
  @apply pb-4;
  @apply capitalize;
  @apply font-bold;
  @apply text-4xl;
}

.heading p {
  @apply text-lg;
  @apply font-light;
}

.subheading {
  @apply text-slate-800;
  @apply pb-4;
  @apply capitalize;
  @apply font-medium;
  @apply text-3xl;
}

.btn {
  @apply rounded-none;
}

.btn-main {
  @apply text-white;
  @apply rounded-lg;
  @apply text-base;
  @apply py-4;
  @apply px-10;
  @apply inline-block;
  @apply bg-blue-600;
}

.btn-main:hover,
.btn-main:focus {
  @apply bg-blue-500;
  @apply text-white;
}

.btn-main-sm {
  @apply py-3;
  @apply px-9;
  @apply uppercase;
  @apply text-sm;
  @apply font-bold;
}

/* navigation */
.navbar-brand {
  @apply text-2xl;
  @apply m-0;
  @apply leading-none;
}

.nav-link {
  @apply text-xl;
  @apply font-bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  @apply opacity-60;
}

/*--
    feature start
--*/
/*--
    Feature-list start
--*/
.feature-list .btn-main {
  @apply mt-4;
}

.footer-menu a {
  @apply text-sm;
  @apply font-bold;
  @apply p-3;
}

footer {
  @apply text-center;
  @apply bg-neutral-100;
  @apply py-12;
}

footer .footer-logo {
  @apply text-neutral-600;
  @apply block;
}

footer p.copyright-text {
  @apply font-light;
  @apply text-xs;
  @apply leading-5;
  @apply text-neutral-500;
  @apply mt-4;
}

footer p.copyright-text a {
  @apply text-neutral-800;
}

footer p.copyright-text a:hover {
  @apply no-underline;
}
